html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
header {
  width: 100%;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100px;
    box-shadow: inset 0px 40px 20px -10px rgba(0,0,0,.8);
    top: 0;
    left: 0;
}
.instagram {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
}
.white {
  font-size: 1em;
  padding: 0%;
  margin: 0;
  color: white;
}
.instagram-icon {
  width: 20px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hdthumb {
  width: 16.66%;
}
nav {
  margin-bottom: 4px;
}
.menu {
  margin: 0;
  padding: 2%;
  height: 100%;
  box-shadow: 0 2px 4px lightgray;
}
li {
  display: inline;
}
.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 2%;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.menu-link:hover {
  background-color: #245c77;
  color: white;
}
.welcome {
  padding: 10% 12% 15% 12%;
  background-color: #faf9f9;
}
.hdicon {
  width: 15%;
  height: auto;
}
h1 {
  font-size: 2em;
  font-weight: 100;
  color: #4b4b4f;
  margin-bottom: 12%;
}
.more-btn {
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 2% 4%;
  background-color: #245c77;
  border-radius: 5px;
}
.hotdogs {
  display: flex;
  flex-wrap: wrap;
}
.beef-text, .veggie-text {
  width: 50%;
  float: left;
  text-align: left;
}
.beef-img, .veggie-img {
  display: flex;
  width: 50%;
  float: right;
}
.beefdog, .vegandog, .veggiedog {
  width: 100%;
}
.vegan-text {
  width: 50%;
  float: right;
  text-align: left;
}
.vegan-img {
  display: flex;
  width: 50%;
  float: left;
}
h3 {
  padding: 20% 10% 0 10%;
  color: #4b4b4f;
  font-weight: 800;
}
p {
  padding: 5% 15% 0 15%;
  color: gray;
  font-size: .8em;
  font-weight: 100;
}
footer {
  background-color: #edeced;
  overflow: auto;
}
.footer-text {
  padding: 2% 2% 4% 2%;
  margin: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
