html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
header {
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hdthumb {
  width: 16.66%;
}
.menu {
  margin: 0;
  padding: 2%;
  height: 100%;
}
li {
  display: inline;
}
.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 2%;
}
.menu-link:hover {
  background-color: #245c77;
  color: white;
}
